* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  max-inline-size: 100%;
  display: block;
}